<form method="POST" action="/new">
    <h1>New Message</h1>
    <div class="input-group">
        <label for="name">Author Name</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div class="input-group">
        <label for="message">Message Text</label>
        <textarea name="message" id="message" required></textarea>
    </div>
    <button type="submit">Submit</button>
</form>